@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome to the Pizza Shop</h1>
    <h2>Pizza Shop, is the pizza for you and me!</h2>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="mt-4 btn btn-primary" asp-area="" asp-page="Pizza">BRING ME THAT PIZZA</a>
</div>
